<li class="list-group-item container-fluid">
    <div class="row">
        <div class="col-7">
            {{ conversation.getName }}
        </div>
        <div class="col">
            // replies
        </div>
        <div class="col">
            // views
        </div>
        <div class="col">
            // last
        </div>
    </div>
</li>