<li class="list-group-item container-fluid">
    <div class="row">
        <div class="col-7">
            {{ row.name }}
        </div>
        <div class="col">
            0 <i class="far fa-comment"></i>
        </div>
        <div class="col">
            0 <i class="far fa-eye"></i>
        </div>
        <div class="col">
            // last
        </div>
    </div>
</li>