<aside class="menu nav nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" href="#" aria-selected="true">Account</a>
    <a class="nav-link" href="#" aria-selected="false">Characters</a>
</aside>