<ul class="list-group">
    {% for category in categories %}
        {% include 'forum/category/row.html.twig' with {'category': category, 'class': 'list-group-item-warning', 'type': 'group'} only %}
        {% for forum in category.getChildren %}
            {% set childConversations = conversationManager.repository.findCategoryConversations(forum) %}
            {% include 'forum/category/row.html.twig' with {'category': forum, 'conversationsCount': childConversations|length, 'type': 'forum'} only %}
        {% endfor %}

        {% set conversations = conversationManager.repository.findCategoryConversations(category) %}
        {% set hasConversations = conversations is defined and conversations|length > 0 %}

        {% if category.getChildren|length > 0 and hasConversations %}
            <li class="list-group-item list-group-item-secondary">
                Conversations
            </li>
        {% endif %}
        {% if hasConversations %}
            {% for conversation in conversations %}
                {% include 'forum/conversation/row.html.twig' with {'conversation': conversation} only %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>