{% extends "layout/base.html.twig" %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello {{ controller_name }}! <i class="far fa-check-square"></i>
            </h1>
            <p class="subtitle">
                This friendly message is coming from:
            </p>
            <ul>
                <li>Your controller at <code><a href="{{ 'src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
            </ul>
        </div>
    </section>
{% endblock %}
