{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for row in paginator.list %}
                    {% include 'forum/' ~ row.type ~ '/row.html.twig' with {'row': row} only %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include 'forum/paginator.html.twig' with {'paginator': paginator} only %}
{% endblock %}
