{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            {% include 'forum/category/list.html.twig' with categories only %}
        </div>
    </div>
{% endblock %}
