{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            {% include 'forum/category/list.html.twig' with categories %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            Frugu © 2013-{{ "now"|date('Y') }}
        </div>
    </div>
{% endblock %}
