{% if paginator.needsPagination %}
    <div class="row mt-4">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not paginator.hasPrevious %}disabled{% endif %}">
                        <a class="page-link" href="#"><i class="fas fa-backward"></i></a>
                    </li>
                    {% for link in paginator.links %}
                        <li class="page-item"><a class="page-link" href="#">{{ link }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if not paginator.hasNext %}disabled{% endif %}">
                        <a class="page-link" href="#"><i class="fas fa-forward"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
