{% if paginator.needsPagination %}
    <div class="row mt-4">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not paginator.hasPrevious %}disabled{% endif %}">
                        <a class="page-link" href="{% if paginator.hasPrevious %}{{ paginator.link(paginator.previous) }}{% endif %}"><i class="fas fa-backward"></i></a>
                    </li>
                    {% for page in paginator.links %}
                        <li class="page-item {% if page == paginator.current %}disabled{% endif %}"><a class="page-link" href="{{ paginator.link(page) }}">{{ page }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if not paginator.hasNext %}disabled{% endif %}">
                        <a class="page-link" href="{% if paginator.hasNext %}{{ paginator.link(paginator.next) }}{% endif %}"><i class="fas fa-forward"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
